.itemContainer {
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.itemTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemBottom {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.itemBottom Button {
    margin: 5px;
    width: 150px;
    justify-content: space-around;
}

.text {
    padding: 20px;
}